/*! style.css | @License: GPL-3+ | https://salsa.debian.org/tinker-team/box.git */

@import "h5bp";
@import "compass/typography";

@include h5bp-normalize;
@include h5bp-media;

body {
	@media print {
		font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
		font-size: 10pt;
		line-height: 11pt;
	}
	margin: 2em;
	max-width: 62em;
}

a {
	@include hover-link;
}

pre {
	margin: -.25em;
	padding: .25em;
	background-color: lightgray;
	@media print {
		background-color: inherit;
	}
}
